USE [QLDSV]
GO
/****** Object:  Table [dbo].[CHI_TIET_TRUONG_KHOA]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_TRUONG_KHOA](
	[MaKh] [varchar](10) NOT NULL,
	[MaGV] [varchar](15) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NULL,
 CONSTRAINT [PK_CHI_TIET_TRUONG_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC,
	[MaGV] ASC,
	[TuNgay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MaCN] [varchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[MaKh] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_GV_MON]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_GV_MON](
	[MaGV] [varchar](15) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CT_GV_MON] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_LOPTC]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_LOPTC](
	[MaLTC] [varchar](10) NOT NULL,
	[MaPh] [varchar](10) NOT NULL,
	[Thu] [varchar](7) NOT NULL,
	[Buoi] [varchar](5) NOT NULL,
 CONSTRAINT [PK_CT_LOPTC] PRIMARY KEY CLUSTERED 
(
	[MaLTC] ASC,
	[MaPh] ASC,
	[Thu] ASC,
	[Buoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANG_KY_MON_HOC]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANG_KY_MON_HOC](
	[MaSV] [varchar](15) NOT NULL,
	[MaLTC] [varchar](10) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_DANG_KY_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[HocVi] [nvarchar](50) NULL,
	[HocHam] [nvarchar](50) NULL,
	[ChuyenMon] [nvarchar](50) NOT NULL,
	[MaKh] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KE_HOACH_GIANG_DAY]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KE_HOACH_GIANG_DAY](
	[MaCN] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[HK] [varchar](5) NOT NULL,
 CONSTRAINT [PK_KE_HOACH_GIANG_DAY] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKh] [varchar](10) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [varchar](15) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOPTC]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOPTC](
	[MaLTC] [varchar](10) NOT NULL,
	[SVToiThieu] [int] NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaGV] [varchar](15) NOT NULL,
	[MaKh] [varchar](10) NOT NULL,
	[HocKy] [nvarchar](1) NOT NULL,
	[MaNam] [int] NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[TrangThai] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MON]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MON](
	[MaMon] [varchar](10) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[SoTLT] [int] NOT NULL,
	[SoTTH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MaNam] [int] IDENTITY(1,1) NOT NULL,
	[Nam] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[MaPhBan] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPhBan] [varchar](5) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGHOC]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGHOC](
	[MaPhong] [varchar](10) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[SoCho] [int] NOT NULL,
 CONSTRAINT [PK_PHONGHOC] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/1/2017 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Phai] [nvarchar](5) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[KhoaHoc] [int] NOT NULL,
	[MaLop] [varchar](15) NOT NULL,
	[MaCN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHI_TIET_TRUONG_KHOA] ([MaKh], [MaGV], [TuNgay], [DenNgay]) VALUES (N'CNTT', N'GV001', CAST(N'2017-01-01' AS Date), NULL)
GO
INSERT [dbo].[CHI_TIET_TRUONG_KHOA] ([MaKh], [MaGV], [TuNgay], [DenNgay]) VALUES (N'VT', N'GV003', CAST(N'2017-01-01' AS Date), NULL)
GO
INSERT [dbo].[CHUYENNGANH] ([MaCN], [Ten], [MaKh]) VALUES (N'CNHT', N'Hệ thống Thông Tin', N'CNTT')
GO
INSERT [dbo].[CHUYENNGANH] ([MaCN], [Ten], [MaKh]) VALUES (N'CNPM', N'Công nghệ Phần mềm', N'CNTT')
GO
INSERT [dbo].[CHUYENNGANH] ([MaCN], [Ten], [MaKh]) VALUES (N'VTDT', N'Điện tử', N'VT')
GO
INSERT [dbo].[CT_GV_MON] ([MaGV], [MaMon]) VALUES (N'GV001', N'M001')
GO
INSERT [dbo].[CT_GV_MON] ([MaGV], [MaMon]) VALUES (N'GV001', N'M002')
GO
INSERT [dbo].[CT_GV_MON] ([MaGV], [MaMon]) VALUES (N'GV002', N'M001')
GO
INSERT [dbo].[CT_LOPTC] ([MaLTC], [MaPh], [Thu], [Buoi]) VALUES (N'LTC1', N'2A08', N'2', N'SANG')
GO
INSERT [dbo].[CT_LOPTC] ([MaLTC], [MaPh], [Thu], [Buoi]) VALUES (N'LTC1', N'2A16', N'4', N'CHIEU')
GO
INSERT [dbo].[CT_LOPTC] ([MaLTC], [MaPh], [Thu], [Buoi]) VALUES (N'LTC2', N'2A08', N'3', N'SANG')
GO
INSERT [dbo].[DANG_KY_MON_HOC] ([MaSV], [MaLTC], [Diem]) VALUES (N'N13DCCN001', N'LTC1', NULL)
GO
INSERT [dbo].[DANG_KY_MON_HOC] ([MaSV], [MaLTC], [Diem]) VALUES (N'N13DCCN002', N'LTC1', NULL)
GO
INSERT [dbo].[DANG_KY_MON_HOC] ([MaSV], [MaLTC], [Diem]) VALUES (N'N13DCVT001', N'LTC2', NULL)
GO
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoTen], [HocVi], [HocHam], [ChuyenMon], [MaKh]) VALUES (N'GV001', N'Nguyễn Thị Linh Đan', N'Tiến sĩ', NULL, N'A', N'CNTT')
GO
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoTen], [HocVi], [HocHam], [ChuyenMon], [MaKh]) VALUES (N'GV002', N'Nguyễn Hải Đăng', N'Thạc sĩ', NULL, N'B', N'CNTT')
GO
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoTen], [HocVi], [HocHam], [ChuyenMon], [MaKh]) VALUES (N'GV003', N'Lê Mạnh Hùng', N'Tiến sĩ', NULL, N'C', N'VT')
GO
INSERT [dbo].[KE_HOACH_GIANG_DAY] ([MaCN], [MaMon], [HK]) VALUES (N'CNHT', N'M001', N'1')
GO
INSERT [dbo].[KE_HOACH_GIANG_DAY] ([MaCN], [MaMon], [HK]) VALUES (N'CNPM', N'M002', N'1')
GO
INSERT [dbo].[KE_HOACH_GIANG_DAY] ([MaCN], [MaMon], [HK]) VALUES (N'VTDT', N'M003', N'1')
GO
INSERT [dbo].[KHOA] ([MaKh], [Ten]) VALUES (N'CNTT', N'Công nghệ Thông tin')
GO
INSERT [dbo].[KHOA] ([MaKh], [Ten]) VALUES (N'VT', N'Viễn Thông')
GO
INSERT [dbo].[LOP] ([MaLop], [Ten], [MaKH]) VALUES (N'D13CQCN01', N'Công Nghệ 1', N'CNTT')
GO
INSERT [dbo].[LOP] ([MaLop], [Ten], [MaKH]) VALUES (N'D13CQCN02', N'Công Nghệ 2', N'CNTT')
GO
INSERT [dbo].[LOP] ([MaLop], [Ten], [MaKH]) VALUES (N'D13CQVT01', N'Viễn Thông 1', N'VT')
GO
INSERT [dbo].[LOPTC] ([MaLTC], [SVToiThieu], [MaMon], [MaGV], [MaKh], [HocKy], [MaNam], [TuNgay], [DenNgay], [TrangThai]) VALUES (N'LTC1', 30, N'M001', N'GV001', N'CNTT', N'1', 1, CAST(N'2017-11-15' AS Date), CAST(N'2017-12-15' AS Date), N'MO')
GO
INSERT [dbo].[LOPTC] ([MaLTC], [SVToiThieu], [MaMon], [MaGV], [MaKh], [HocKy], [MaNam], [TuNgay], [DenNgay], [TrangThai]) VALUES (N'LTC2', 30, N'M003', N'GV003', N'VT', N'1', 1, CAST(N'2017-11-17' AS Date), CAST(N'2017-12-17' AS Date), N'MO')
GO
INSERT [dbo].[MON] ([MaMon], [Ten], [SoTLT], [SoTTH]) VALUES (N'M001', N'Phát triển Ứng dụng Phân tán', 32, NULL)
GO
INSERT [dbo].[MON] ([MaMon], [Ten], [SoTLT], [SoTTH]) VALUES (N'M002', N'Phát triển hệ thống dựa trên tri thức', 40, NULL)
GO
INSERT [dbo].[MON] ([MaMon], [Ten], [SoTLT], [SoTTH]) VALUES (N'M003', N'Truyền thông vô tuyến', 40, NULL)
GO
SET IDENTITY_INSERT [dbo].[NAMHOC] ON 

GO
INSERT [dbo].[NAMHOC] ([MaNam], [Nam]) VALUES (1, N'2017-2018')
GO
SET IDENTITY_INSERT [dbo].[NAMHOC] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

GO
INSERT [dbo].[NHANVIEN] ([MaNV], [Ten], [DiaChi], [MaPhBan]) VALUES (1, N'Nguyễn Thị Hiền Minh', N'Q9, TPHCM', N'PGV')
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[PHONGBAN] ([MaPhBan], [Ten]) VALUES (N'PGV', N'Phòng Giáo Vụ')
GO
INSERT [dbo].[PHONGHOC] ([MaPhong], [Ten], [SoCho]) VALUES (N'2A08', N'2A08', 60)
GO
INSERT [dbo].[PHONGHOC] ([MaPhong], [Ten], [SoCho]) VALUES (N'2A16', N'2A16', 80)
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [Phai], [DiaChi], [NgaySinh], [KhoaHoc], [MaLop], [MaCN]) VALUES (N'N13DCCN001', N'Nguyễn Thị Diệu Nhi', N'NU', N'Q10, TPHCM', CAST(N'1995-12-12' AS Date), 2013, N'D13CQCN01', NULL)
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [Phai], [DiaChi], [NgaySinh], [KhoaHoc], [MaLop], [MaCN]) VALUES (N'N13DCCN002', N'Nguyễn Văn Ba', N'NAM', N'Q11, TPHCM', CAST(N'1995-11-11' AS Date), 2013, N'D13CQCN01', NULL)
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [Phai], [DiaChi], [NgaySinh], [KhoaHoc], [MaLop], [MaCN]) VALUES (N'N13DCVT001', N'Nguyễn Thị Quỳnh Trang', N'NU', N'Q12, TPHCM', CAST(N'1995-10-10' AS Date), 2013, N'D13CQVT01', NULL)
GO
ALTER TABLE [dbo].[CHI_TIET_TRUONG_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TRUONG_KHOA_GIANGVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[CHI_TIET_TRUONG_KHOA] CHECK CONSTRAINT [FK_CHI_TIET_TRUONG_KHOA_GIANGVIEN]
GO
ALTER TABLE [dbo].[CHI_TIET_TRUONG_KHOA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TRUONG_KHOA_KHOA] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KHOA] ([MaKh])
GO
ALTER TABLE [dbo].[CHI_TIET_TRUONG_KHOA] CHECK CONSTRAINT [FK_CHI_TIET_TRUONG_KHOA_KHOA]
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KHOA] ([MaKh])
GO
ALTER TABLE [dbo].[CT_GV_MON]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[CT_GV_MON]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[CT_LOPTC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOPTC_LOPTC] FOREIGN KEY([MaLTC])
REFERENCES [dbo].[LOPTC] ([MaLTC])
GO
ALTER TABLE [dbo].[CT_LOPTC] CHECK CONSTRAINT [FK_CT_LOPTC_LOPTC]
GO
ALTER TABLE [dbo].[CT_LOPTC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LOPTC_PHONGHOC] FOREIGN KEY([MaPh])
REFERENCES [dbo].[PHONGHOC] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_LOPTC] CHECK CONSTRAINT [FK_CT_LOPTC_PHONGHOC]
GO
ALTER TABLE [dbo].[DANG_KY_MON_HOC]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DANG_KY_MON_HOC]  WITH CHECK ADD  CONSTRAINT [FK_DANG_KY_MON_HOC_LOPTC] FOREIGN KEY([MaLTC])
REFERENCES [dbo].[LOPTC] ([MaLTC])
GO
ALTER TABLE [dbo].[DANG_KY_MON_HOC] CHECK CONSTRAINT [FK_DANG_KY_MON_HOC_LOPTC]
GO
ALTER TABLE [dbo].[KE_HOACH_GIANG_DAY]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[KE_HOACH_GIANG_DAY]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHUYENNGANH] ([MaCN])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHOA] ([MaKh])
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KHOA] ([MaKh])
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD FOREIGN KEY([MaNam])
REFERENCES [dbo].[NAMHOC] ([MaNam])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaPhBan])
REFERENCES [dbo].[PHONGBAN] ([MaPhBan])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHUYENNGANH] ([MaCN])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[DANG_KY_MON_HOC]  WITH CHECK ADD  CONSTRAINT [CK_DANG_KY_MON_HOC] CHECK  (([Diem]>=(0) OR [Diem]<=(10)))
GO
ALTER TABLE [dbo].[DANG_KY_MON_HOC] CHECK CONSTRAINT [CK_DANG_KY_MON_HOC]
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD CHECK  (([HocKy]>=(1) OR [HocKy]<=(3)))
GO
ALTER TABLE [dbo].[LOPTC]  WITH CHECK ADD CHECK  (([TrangThai]='HUY' OR [TrangThai]='MO'))
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD CHECK  (([Phai]='NAM' OR [PHAI]='NU'))
GO
